<section class="contents">

    <h2>Contents:</h2>

    <section class="container-display">

        <h3>Containers</h3>

        <section>
            <button>Add new container</button>
        </section>

    </section>

    <section class="item-display">

    </section>

</section>