<% for(let i = 0; i < containers.length; ++i) { %>


    <section class="container-card-simple">

        <h2><%= containers[i].name %></h2>

        <p><%=containers[i].description%></p>

        <a href="/container/<%=containers[i]._id%>">View Container</a>

    </section>


<% } %>