<% for(let i = 0; i < containers.length; ++i) { %>


    <section class="container-card-detailed">

        <h2><%= containers[i].name %></h2>

        <section>

            <p><%= containers[i].dimensions %></p>

        </section>

        <section>

            <section>
                <button>Add to Container</button>
            </section>

            <section>
                <button>Edit Container</button>
            </section>

            <section>
                <button>Move Container</button>
            </section>

            <section>
                <button>Delete Container</button>
            </section>

        </section>

        <section>

            <p><%=containers[i].description%></p>

        </section>

    </section>


<% } %>