<% for(let i = 0; i < items.length; ++i) { %>

    <section class="item-card-simple">

        <h2><%= items[i].name %></h2>

        <p><%= items[i].description %></p>

        <a href="/item/<%=items[i]._id%>">View Item</a>

    </section>

<% } %>