<% for(let i = 0; i < items.length; ++i) { %>

    <section class="item-card-simple">

        <h3><%= items[i].name %></h3>

        <p><%= items[i].description %></p>

        <a class="view-button" href="/item/<%=items[i]._id%>">View Item</a>

    </section>

<% } %>