<% for(let i = 0; i < locations.length; ++i) { %>

    <section class="location-card-simple">

        <h4><%=locations[i].name%></h4>

        <p><%=locations[i].description%></p>

        <a class="view-button" href="/location/<%=locations[i]._id%>">View Location</a>

    </section>

<% } %>