<header>
    <nav>
        <ul>
            <li>
                <a href="/storage/">Dashboard</a>
            </li>
            <li>
                <a href="/changelog">Changelog</a>
            </li>
            <li>
                <a href="/settings">Settings</a>
            </li>
            <li>
                <a class="logout-button">Log Out</a>
            </li>
        </ul>
    </nav>
</header>