<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- Logo at top -->

    <!-- Nav at top on webpage version, hidden with button on mobile probably -->
    <%- include("./partials/navbar.ejs") %>

    <!-- Dynamic Contents -->
    <main>
        <!-- Route to container ending with underlined name of container, routes are hrefs to other containers -->
        <section>
            <div>Back Button</div>

            <h1>Route to container</h1>
        </section>

        <!-- Container information with edit, move, and delete buttons -->
        <section>
            <section>
                <p>Dimentions</p>
                <p>Description</p>
            </section>

            <section>
                <!-- Button will open a card in the center of the screen with relevant form -->
                <section>
                    <button>Edit</button>
                </section>

                <section>
                    <button>Move</button>
                </section>

                <section>
                    <button>Delete</button>
                </section>
            </section>

        </section>

        <!-- Container contents with simple cards that link to child page with add button -->
        <section>

            <!-- Likely an include to a partial with the generic loop code -->
            <!-- Likely separated by item vs container, containers first -->

        </section>
    </main>
    
</body>
</html>