<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!--Navbar/header-->
    <%- include("./partials/navbar.ejs") %>

    <!-- Back button to parent element -->
    <a href="/<%=item.parent.type%>/<%=item.parent.id%>">Back to Parent</a>
    <!-- Route ending in item name -->

    <!-- Item information with edit, delete, and move buttons -->
    
</body>
</html>
