<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage Manager</title>
</head>
<body>

    <main>

        <h1> Storage Manager </h1>

        <a href="/login">Log In</a>

        <a href="/register">Register</a>

    </main>
    
</body>
</html>