<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <%- include("./partials/navbar.ejs") %>

    <main>

        <header>
            <h1>Location Name</h1>
            <section>
                <div>
                    <button>Edit this Location</button>
                </div>
                <div>
                    <button>Delete this Location</button>
                </div>
            </section>
        </header>

        <section class="container-display">

            <header>
                <h2>Containers:</h2>
                <div>
                    <button>Add new</button>
                </div>
            </header>

            <section>

                <!--EJS Include-->

            </section>

        </section>


        <section class="item-display">

            <header>
                <h2>Items:</h2>
                <div>
                    <button>Add new</button>
                </div>
            </header>

            <section>

                <!--EJS Include-->

            </section>

        </section>

    </main>
    
</body>
</html>