* {
    box-sizing: border-box;
}

.location-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
.location-header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 50%;
}
.location-header-info h1 {
    border-bottom: 3px solid;
    width: 50%;
}
.location-header-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
}



.container-display {
    border-bottom: 5px solid #ddd;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}