* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

main {
    border: 10px solid #eee;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-top: -10%;
    padding: 2rem 10rem;

    max-width: 95%;
}

h1 {
    margin-bottom: 2rem;

    font-size: 3rem;
    font-weight: bold;

    text-align: center;

    border-bottom: 3px solid #eee;
    width: 100%;
}


form > section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    margin-bottom: 1rem;
}

form label {
    margin-bottom: 0.5rem;
}

button {
    border: 2px solid #13B2B1;
    background: inherit;

    cursor: pointer;

    color: black;

    padding: 0.5rem 1rem;

    margin-bottom: 0.5rem;

    font-size: 1.6rem;

    transition: background 0.5s;
}

button:hover {
    background: #eee;
    border-color: #B21314;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width:700px) {
    main {
        padding: 2rem;
        width: 95%;
    }
}